.home-header {
  background-image: url("../../assets/images/background/home_banner.jpg");
  position: relative;
  min-height: 125vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-header .banner-text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10rem;
  color: var(--COLOR-primary-green);
  font-size: 2rem;
  gap: 1rem;
}

.home-header .banner-text h1 {
  width: 70%;
}

.banner-text p {
  color: var(--COLOR-secondary-text);
  font-size: 1rem;
  width: 50%;
}




.main {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main-products {
  padding: 2rem;
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.main-products .products-header {
  text-align: center;
  color: var(--COLOR-primary-green);
  font-size: 1.5rem;
}

.main-products .products-container {
  display: flex;
  flex-flow: row;
  gap: 2rem;
}

.main-cta {
  display: flex;
  flex-flow: row;
}

.main-cta .main-cta-banner {
  flex: 1 1 50%;
}

.main-cta .main-cta-content {
  flex: 1 1 50%;
  display: flex;
  flex-flow: column;
}

.main-cta-content h1 {
  color: var(--COLOR-primary-green);
  font-size: 2.5rem;
  width: 40%;
  line-height: 3.5rem;
}
.resp-image {
  width: 100%;
  height: auto;
}

@media (max-width: 480px) {
  .home-header {
    min-height: auto;
    max-height: 400px;
  }
  .home-header .banner-text {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .home-header .banner-text h1 {
    font-size: 1rem;
    width: 50%;
  }
  .home-header .banner-text p {
    display: none;
  }
  .main-products .products-header {
    font-size: 1rem;
  }
  .main-products .products-container {
    flex-flow: column;
  }
  .main-cta {
    flex-flow: column;
    padding: 0 2rem;
  }
  .main-cta-content h1 {
    font-size: 1.5rem;
    width: 100%;
    line-height: normal;
  }
}