.cart-card{
    display: flex;
    flex-flow: row;
    gap: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    overflow-x: hidden;
    padding: 1rem;
}

.cart-card .card-image{
    width: 200px;
}
.cart-card .card-image img{
    vertical-align: middle;
    object-fit: cover;
}

.cart-card .card-body{
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.cart-card .card-body .card-header{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.cart-card .card-body .card-header svg:hover{
    cursor: pointer;
}

.quantity-combo{
  display: flex;
  flex-flow: row;
}
.quantity-combo button{
  cursor: pointer;
  border: 2px solid var(--COLOR-border-color-quantity);
  background: transparent;
  width: 25px;
  transition: all 0.2s ease;
  color: black;
}
.quantity-combo button:hover{
  background-color: var(--COLOR-primary-green);
  color: var(--COLOR-white);
}

.quantity-combo input{
  border: 2px solid var(--COLOR-border-color-quantity);
  background-color: transparent;
  text-align: center;
  width: 25px;
  height: 25px;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
.quantity-combo input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.cart-card .card-body .card-heading{
    color: var(--COLOR-primary-green);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
}

.cart-card .card-body .card-content{
    display: flex;
    flex-flow: column;
}

.cart-card .card-body .card-content .card-section{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.cart-card .card-body .card-content .card-section.subtotal p{
    font-weight: 500;
    color: var(--COLOR-primary-green);
}

.cart-card .card-body .card-content .card-section h3{
    font-weight: 500;
    color: var(--COLOR-dark-gray);
    font-size: 1rem;
}

.cart-card .card-body .card-content .card-section p{
    color: var(--COLOR-secondary-text);
}

.cart-card .card-body hr{
    margin: 1rem 0 1rem 0;
    border: none;
    border-top: 2px dashed rgba(129,129,129,0.2);
}

.resp-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.strikethrough {
  text-decoration: line-through;
}

.rupees {
  font-weight: 500;
}

.discount {
  font-weight: 500;
}


@media (max-width: 480px) {
  .cart-card .card-image{
        width: 150px;
    }
    .cart-card .card-body a{
        font-size: 1rem;
    }
    .cart-card .card-body .card-header i{
        padding-right: 0.5rem;
    }
  }