.nav {
  padding: 0 2.5rem;
  margin: 0;
  display: flex;
  background-color: var(--COLOR-white);
}

.nav a {
  transition: all 0.2s ease;
  font-weight: 400;
  font-size: 1rem;
  font-weight: 500;
}

.nav a:hover {
  color: var(--COLOR-primary-green);
}

.nav .menu {
  width: 100%;
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.nav .nav-links {
  display: flex;
  flex-flow: row;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav .nav-brand {
  font-weight: 900;
  order: 1;
}

.nav .nav-brand a {
  font-size: 1.5rem;
  font-weight: 900;
  display: flex;
  text-decoration: none;
  color: black;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.nav .nav-brand a:hover {
  color: var(--COLOR-primary-green);
}

.nav .nav-cta {
  display: flex;
  flex-flow: row-reverse nowrap;
  gap: 1.5rem;
  order: 3;
}

.nav-cta a {
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  color: black;
}

.nav .nav-bars {
  display: none;
}

.badge-container{
  position: relative;
}

.badge-container .badge{
  width: 15px;
  height: 15px;
  background-color: var(--COLOR-primary-green);
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: -3px;
  color: var(--COLOR-white);
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid var(--COLOR-white);
  font-size: x-small;
}


@media (max-width: 480px) {
  .nav {
    margin: 0;
    border-radius: 0;
    padding: 0 1.5rem;
  }
  .nav .nav-cta {
    display: none;
  }
  .nav .nav-brand.display{
    display: flex;
    order: 1;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
  .nav .nav-brand.display svg{
    margin-left: auto;
  }
  .nav .nav-links.display{
    order: 2;
    flex-flow: column;
    align-items: center;
  }
  .nav .nav-cta.display{
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    order: 3;
  }
  .nav .menu.display{
    flex-flow: column;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  .nav .nav-bars.display{
    order: 1;
  }
  .nav .nav-bars {
    display: block;
    order: 2;
  }
}