.cart-checkout-container {
  flex: 1 1 30%;
  padding: 1rem;
}

.cart-checkout {
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cart-checkout .checkout-header {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--COLOR-primary-green);
}

.checkout-details {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.checkout-details .checkout-detail-item {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.checkout-details .checkout-detail-item .detail-header {
  font-weight: 500;
  color: var(--COLOR-dark-gray);
}

.checkout-final {
  color: var(--COLOR-primary-green);
  font-weight: 900;
}

.checkout-final .detail-header-final {
  font-weight: 900;
  color: var(--COLOR-primary-green);
}

@media (max-width: 480px) {
  .cart-checkout-container {
    padding: 0.5rem;
  }
}
