.products-header {
  background-image: url("../../assets/images/background/shop-banner.jpg");
  position: relative;
  min-height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.products-header .banner-text {
  padding-top: 8rem;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  color: var(--COLOR-white);
  font-size: 2rem;
}

.products-header .banner-products {
  padding-top: 1rem;
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.banner-products.wishlist {
  gap: 0.5rem;
}

.products-header .banner-products a {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  color: var(--COLOR-footer-text);
}
.login-main {
  display: flex;
  flex-flow: row;
  padding: 2rem;
  gap: 2rem;
}

.login-main hr {
  border: none;
  border-right: 2px solid var(--COLOR-border-color-quantity);
}

.login-change {
  padding: 3rem;
  flex: 1 1 50%;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  align-items: center;
}

.login-change .login-change-cta {
  padding-bottom: 1rem;
}

.login-change .change-header {
  color: var(--COLOR-primary-green);
  font-size: 2rem;
  font-weight: 500;
}

.login-change .login-change-desc {
  color: var(--COLOR-secondary-text);
}

@media (max-width: 480px) {
  .products-header{
    min-height: auto;
    max-height: 400px;
  }
  .products-header .banner-text{
    padding-top: 2rem;
    text-align: center;
  }
  .login-main {
    flex-flow: column;
  }
  .login-main hr {
    border: none;
    border-top: 2px solid var(--COLOR-border-color-quantity);
  }
  .login-change {
    padding: 1rem;
    flex: auto;
  }
}
