:root {
  --COLOR-primary-green: #114639;
  --COLOR-card-green: #e2ede9;
  --COLOR-secondary-text: #777777;
  --COLOR-white: white;
  --COLOR-main-background: #f3f3f3;
  --COLOR-footer-text: rgba(255, 255, 255, 0.8);
  --COLOR-primary-green-hover: #0f4034;
  --COLOR-border-color-quantity: rgba(129, 129, 129, .20);
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--COLOR-main-background);
}
